extends layout

block content  
  h1 
    i.fa.fa-lg.fa-pie-chart 
    span Awesome Polls
  h2 Welcome to the Awesome Polls Administrator website.
  p To access the polls, please login.
  br
  a(href="/login")
    button() Login

  
